python-dotenv
pandas
numpy
pymongo
certifi
pymongo[srv]==3.11
scikit-learn
pyaml
mlflow
dagshub
fastapi
uvicorn
python-multipart

# once the project is completed then use this with setup.py, not now
# -e .